.portada {
    background-image: url("../Imagenes/Placas/Portada.jpeg");
    background-size: cover;
    /* height: 500px; */
    background-position: center center;
  height: 75vh;
    width: 100%;
  }
  .tituloportada{
    /* border-color: black;
    border-width: 10px;
    border-style: double; */
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size:80px;
    animation-name: mover;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}
  
  .texto {
     position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
  }
  
  @media (max-width: 768px) {
    .portada {
      height: 300px;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
  }
  
  .gallery-item {
    width: 350px;
    height: 340px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out; /* animación de transición */
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }




.gallery-item:hover {
  transform: scale(1.2); /* escala de la imagen en hover */
}